In [1]:
#import Pandas
import pandas as pd

In [5]:
#read Ecommerce Purchases csv file
ec = pd.read_csv('Ecommerce Purchases')
ec.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

In [6]:
#find the average Purchase Price
ec['Purchase Price'].mean()

50.34730200000025

In [8]:
#find highest and lowest Purchase Prices
print(ec['Purchase Price'].max(),ec['Purchase Price'].min())

99.99 0.0

In [9]:
#find number of people with 'en' as their Language of choice on the website 
sum(ec['Language'] == 'en')

1098

In [11]:
#find number of people with job title as "Lawyer"
sum(ec['Job'] == 'Lawyer')

30

In [12]:
#find number of people who made the purchase during AM and PM
ec['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [13]:
#find the 5 most common Job Titles
ec['Job'].value_counts().head()

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Purchasing manager                   27
Name: Job, dtype: int64

In [15]:
#find the Purchase Price for this transaction from lot: '90 WT'
ec[ec['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [16]:
#find the email of the person with Credit Card Number: 4926535242672853
ec[ec['Credit Card'] == 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [23]:
#find the number of people with American Express as their Credit Card Provider and made a purchase above $95
sum((ec['CC Provider'] == 'American Express') & (ec['Purchase Price'] > 95))

39

In [26]:
#find number of people with a credit card that expires in 2025
sum(ec['CC Exp Date'].apply(lambda x: '25' == x.split('/')[1]))

1033

In [28]:
#find the top 5 most popular email providers
ec['Email'].apply(lambda x: x.split('@')[1]).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64